<div class="action-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Copy Plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Start Date">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="End Date">
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Plan Workout</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col plan-workout-message">
          Plan workout on TrainingPeaks for today and tomorrow
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="planWorkoutClick()"
      >
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
