.action-form {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

mat-card {
  margin-bottom: 20px;
}

.plan-workout-message {
  margin-top: 10px;
  margin-bottom: 20px;
}
