<div *ngIf="!platformInfo">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div *ngIf="platformInfo.isValid === false">
  Platform is not configured. Please set required parameters on Configuration page
</div>

<div *ngIf="platformInfo.isValid">
  <mat-accordion multi>
    <mat-expansion-panel [disabled]="!platformInfo.isAthlete">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sync planned workouts
        </mat-panel-title>
        <mat-panel-description>
          <div
            [matTooltipDisabled]="platformInfo.isAthlete"
            matTooltip="Not available for TP coach account"
            matTooltipPosition="right">
            Copy workouts from Intervals calendar to TrainingPeaks calendar
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <tp-copy-calendar-to-calendar></tp-copy-calendar-to-calendar>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Copy plan or workout library
        </mat-panel-title>
        <mat-panel-description>
          Copy whole training plan or workout library from TrainingPeaks to Intervals
        </mat-panel-description>
      </mat-expansion-panel-header>

      <tp-copy-library-container></tp-copy-library-container>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="!platformInfo.isAthlete">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Copy planned workouts to library
        </mat-panel-title>
        <mat-panel-description>
          <div
            [matTooltipDisabled]="platformInfo.isAthlete"
            matTooltip="Not available for TP coach account"
            matTooltipPosition="right">
            Copy workouts from TrainingPeaks calendar to Intervals workout library
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <tp-copy-calendar-to-library></tp-copy-calendar-to-library>
    </mat-expansion-panel>
  </mat-accordion>
</div>
