<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Copy workout</mat-card-title>
      <mat-card-subtitle>
        Copy a workout from TrainingPeaks workout library to Intervals
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="form-field">
            <mat-label>TP Workout name from library</mat-label>
            <input type="text" matInput formControlName="workout" [matAutocomplete]="workoutAutocomplete">
            <mat-autocomplete #workoutAutocomplete="matAutocomplete" [displayWith]="displayFn">
              @for (option of workouts | async; track option) {
                <mat-option [value]="option">{{option.name}}</mat-option>
              }
              <mat-option disabled *ngIf="searchInProgress">
                <mat-spinner diameter="35"></mat-spinner>
              </mat-option>
              <mat-option disabled *ngIf="(workouts | async)?.length === 0 && !searchInProgress">
                Not found
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formGroup.invalid || formGroup.disabled"
      >
        Copy
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar *ngIf="inProgress" mode="query"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</form>
