.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.error-message {
  margin-left: 10px;
  color: red;
}

form {
  padding: 10px;
}

.advanced-checkbox {
  padding-bottom: 22px
}
