<mat-progress-bar *ngIf="inProgress" mode="query"></mat-progress-bar>

<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <div>
    <h2>Intervals.icu <a href="https://github.com/freekode/tp2intervals?tab=readme-ov-file#intervalsicu" target="_blank"><i class="bi bi-question-circle"></i></a></h2>

    <mat-form-field class="full-width">
      <mat-label>Intervals API Key</mat-label>
      <input matInput placeholder="123456qwerty123456qwerty1" formControlName="intervals.api-key">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Intervals Athlete Id</mat-label>
      <input matInput placeholder="i00000" formControlName="intervals.athlete-id">
    </mat-form-field>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Advanced properties
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width">
          <mat-label>Intervals Power range percentage</mat-label>
          <input matInput type="number" placeholder="5.0" formControlName="intervals.power-range">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Intervals HR range percentage</mat-label>
          <input matInput type="number" placeholder="5.0" formControlName="intervals.hr-range">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Intervals Pace range percentage</mat-label>
          <input matInput type="number" placeholder="5.0" formControlName="intervals.pace-range">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <h2>TrainingPeaks <a href="https://github.com/freekode/tp2intervals?tab=readme-ov-file#trainingpeaks" target="_blank"><i class="bi bi-question-circle"></i></a></h2>

    <mat-form-field class="full-width">
      <mat-label>TrainingPeaks Auth Cookie</mat-label>
      <input matInput placeholder="Production_tpAuth=very_long_string" formControlName="training-peaks.auth-cookie">
      @if (formGroup.controls['training-peaks.auth-cookie'].errors?.['pattern']) {
        <mat-error>Must be in format Production_tpAuth=[a-zA-Z0-9-_]*</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <h2>TrainerRoad <a href="https://github.com/freekode/tp2intervals?tab=readme-ov-file#trainerroad" target="_blank"><i class="bi bi-question-circle"></i></a></h2>

    <mat-form-field class="full-width">
      <mat-label>TrainerRoad Auth Cookie</mat-label>
      <input matInput placeholder="TrainerRoadAuth=very_long_string" formControlName="trainer-road.auth-cookie">
      @if (formGroup.controls['trainer-road.auth-cookie'].errors?.['pattern']) {
        <mat-error>Must be in format SharedTrainerRoadAuth=...</mat-error>
      }
    </mat-form-field>

    <mat-checkbox class="form-checkbox" formControlName="trainer-road.remove-html-tags">
      Remove HTML tags from description
    </mat-checkbox>
    <i class="bi bi-stars beta-icon"
       matTooltip="Beta feature"
       matTooltipPosition="right"></i>
  </div>

  <div>
    <h2>General</h2>

    <mat-form-field class="full-width">
      <mat-label>Log Level (saved only for current session)</mat-label>
      <mat-select formControlName="generic.log-level">
        <mat-option [value]="'WARN'">WARN</mat-option>
        <mat-option [value]="'INFO'">INFO</mat-option>
        <mat-option [value]="'DEBUG'">DEBUG</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row action-button-section">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="formGroup.invalid || inProgress"
    >
      Confirm
    </button>
  </div>

</form>
