<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Configuration</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="TrainingPeaks Auth Cookie" formControlName="tpAuthCookie">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="API Key" formControlName="apiKey">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Athlete Id" formControlName="athleteId">
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formGroup.invalid"
      >
        Submit
      </button>
      <div class="error-message">{{errorMessage}}</div>
    </mat-card-actions>
  </mat-card>
</form>
