<div *ngIf="!platformInfo">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div *ngIf="platformInfo?.isValid === false">
  Platform is not configured. Please set required parameters on Configuration page
</div>

<div *ngIf="platformInfo?.isValid">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Copy workout
        </mat-panel-title>
        <mat-panel-description>
          Copy workout from TrainerRoad library to Intervals workout library
        </mat-panel-description>
      </mat-expansion-panel-header>

      <tr-copy-library-to-library></tr-copy-library-to-library>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Copy planned workouts to library
        </mat-panel-title>
        <mat-panel-description>
          Copy workouts from TrainerRoad calendar to Intervals workout library
        </mat-panel-description>
      </mat-expansion-panel-header>

      <tr-copy-calendar-to-library></tr-copy-calendar-to-library>
    </mat-expansion-panel>
  </mat-accordion>
</div>
