<div class="page-content">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Copy workout
        </mat-panel-title>
      </mat-expansion-panel-header>

      <tr-copy-library-to-library></tr-copy-library-to-library>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          blabsdalbsdCopy planned workouts to library
        </mat-panel-title>
      </mat-expansion-panel-header>

      <tp-copy-calendar-to-library></tp-copy-calendar-to-library>
    </mat-expansion-panel>
  </mat-accordion>
</div>
