.spacer {
  flex: 1 1 auto;
}

.external-link {
  padding-top: 8px;
}

.github-link {
  font-size: 18px;

  span {
    letter-spacing: 0;
    margin-right: 15px;
  }
}

.kofi-icon {
  height: 40px;
  padding-top: 4px;
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.menu-header {
  padding: 20px;
  font-size: 1.2rem;
  color: #3f51b5; // Cor primária
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
  color: #3f51b5 !important;
  font-weight: bold;
}

.content {
  padding: 0;
}

.bi-list {
  font-size: 1.5rem;
}
