.spacer {
  flex: 1 1 auto;
}

.external-link {
  padding-top: 8px;
}

.github-link {
  font-size: 20px;

  span {
    letter-spacing: 0;
    margin-right: 15px;
  }
}

.kofi-icon {
  height: 48px;
  padding-top: 4px;
}
