<mat-toolbar color="primary">
  @for (button of menuButtons; track button) {
    @if (router.url === button.url) {
      <button
        id="{{button.url.substring(1, 100)}}"
        mat-stroked-button
        [routerLink]="[button.url]">
        {{ button.name }}
      </button>
    } @else {
      <button
        mat-flat-button
        color="primary"
        id="{{button.url.substring(1, 100)}}"
        [routerLink]="[button.url]">
        {{ button.name }}
      </button>
    }
  }
  <span class="spacer"></span>
  <a mat-button
     [matBadgeHidden]="updateAvailableBadgeHidden"
     [matTooltipDisabled]="updateAvailableBadgeHidden"
     matTooltip="Update available"
     matBadge="1"
     matBadgeSize="small"
     matBadgePosition="before"
     matBadgeColor="accent"
     [href]="githubLink" target="_blank"
     class="github-link"
  >
    <span>v{{ appVersion }}</span>
    <i class="bi bi-github"></i>
  </a>
  <a mat-button href="https://ko-fi.com/freekode" target="_blank" class="external-link">
    <img src="assets/kofi.webp" alt="kofi" class="kofi-icon"/>
  </a>
  <a mat-icon-button
     href="https://forum.intervals.icu/t/tp2intervals-copy-trainingpeaks-and-trainerroad-workouts-plans-to-intervals/63375"
     target="_blank" class="external-link">
    <i class="bi bi-activity"></i>
  </a>
</mat-toolbar>
