<form [formGroup]="formGroup" novalidate>
  <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Direction</mat-label>
      <mat-select formControlName="direction" #direction>
        @for (item of directions; track item) {
          <mat-option [value]="item.value">{{ item.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Workout Types</mat-label>
      <mat-select formControlName="trainingTypes" multiple>
        @for (type of trainingTypes; track type) {
          <mat-option [value]="type.value">{{ type.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input
        [max]="(tpPlatformInfo?.isPremium || direction.value === Platform.DIRECTION_TR_INT) ? null : tomorrowDate"
        [rangePicker]="copyPlanDatePicker">
        <input matStartDate placeholder="Start Date" formControlName="startDate">
        <input matEndDate placeholder="End Date" formControlName="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="copyPlanDatePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #copyPlanDatePicker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-checkbox formControlName="skipSynced">
      Skip already synced workouts
    </mat-checkbox>
  </div>

  <div *ngIf="scheduledJobs.length > 0" style="margin-bottom: 10px">
    <mat-list>
      <mat-list-item>
        Scheduled jobs
      </mat-list-item>
      <mat-divider></mat-divider>
      @for (job of scheduledJobs; track job) {
        <mat-list-item>
          {{ job.types }}, {{ job.skipSynced }}, source: {{ job.sourcePlatform }}, target: {{ job.targetPlatform }}
        </mat-list-item>
      }
    </mat-list>
  </div>

  <div class="action-button-section">
    <button
      mat-raised-button
      id="btn-confirm"
      color="primary"
      type="button"
      [disabled]="formGroup.invalid || inProgress"
      (click)="submit()"
    >
      Confirm
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      style="margin-left: 10px"
      [disabled]="formGroup.invalid || inProgress"
      (click)="today()"
    >
      Only today
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      style="margin-left: 10px"
      [disabled]="formGroup.invalid || inProgress"
      (click)="tomorrow()"
    >
      Only tomorrow
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      style="margin-left: 10px"
      [disabled]="formGroup.invalid || inProgress"
      (click)="schedule()"
    >
      Schedule
    </button>
  </div>

  <mat-progress-bar *ngIf="inProgress" mode="query"></mat-progress-bar>
</form>
