<form [formGroup]="formGroup" novalidate (ngSubmit)="copyPlanSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Copy plan</mat-card-title>
      <mat-card-subtitle>
        Copy whole training plan from TrainingPeaks to Intervals
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="form-field">
            <mat-label>TP Plans</mat-label>
            <mat-select formControlName="plan" panelWidth="null">
              @for (item of plans; track item) {
                <mat-option [value]="item.value">{{ item.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="formGroup.invalid || formGroup.disabled"
      >
        Copy
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar *ngIf="inProgress" mode="query"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</form>
