training-peaks:
  api-url: https://tpapi.trainingpeaks.com

intervals:
  api-url: https://intervals.icu

trainer-road:
  api-url: https://www.trainerroad.com

spring:
  jackson:
    default-property-inclusion: non_null
    serialization:
      fail-on-empty-beans: false
  datasource:
    url: jdbc:sqlite:tp2intervals.sqlite
    driver-class-name: org.sqlite.JDBC
  jpa:
    open-in-view: false
    database-platform: org.hibernate.community.dialect.SQLiteDialect

logging:
  file:
    name: tp2intervals.log
    path:
