app:
  training-peaks:
    api-url: https://tpapi.trainingpeaks.com
  intervals:
    api-url: https://intervals.icu
  trainer-road:
    api-url: https://www.trainerroad.com

spring:
  cloud:
    openfeign:
      client:
        config:
          default:
            loggerLevel: full
  jackson:
    default-property-inclusion: non_null
    serialization:
      fail-on-empty-beans: false
  datasource:
    url: jdbc:sqlite:tp2intervals.sqlite
    driver-class-name: org.sqlite.JDBC
  jpa:
    open-in-view: false
    database-platform: org.hibernate.community.dialect.SQLiteDialect
  cache:
    jcache:
      config: classpath:ehcache.xml

server:
  port: 44864
  error:
    include-message: always

management:
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: 'health,info,loggers'
      cors:
        allowed-origins: '*'
  endpoint:
    loggers:
      enabled: true

logging:
  file:
    name: tp2intervals.log
