<mat-toolbar color="primary">
  <button
    id="home"
    mat-flat-button
    color="primary"
    [routerLink]="['/']">
    tp2intervals
  </button>
  <button
    id="training-peaks"
    mat-flat-button
    color="primary"
    [routerLink]="['/training-peaks']">
    TrainingPeaks
  </button>
  <button
    id="trainer-road"
    mat-flat-button
    color="primary"
    [routerLink]="['/trainer-road']">
    TrainerRoad
  </button>
  <button
    id="configuration"
    mat-flat-button
    color="primary"
    [routerLink]="['/config']">
    Configuration
  </button>
  <span class="spacer"></span>
  <div>v{{ appVersion }}</div>
  <a mat-icon-button href="https://github.com/freekode/tp2intervals" target="_blank" class="github-link">
    <i class="bi bi-github"></i>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
