<div *ngIf="!platformInfo">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div *ngIf="platformInfo?.isValid === false">
  Platform is not configured. Please set required parameters on Configuration page
</div>

<div *ngIf="platformInfo?.isValid">
  <mat-accordion multi>
    <mat-expansion-panel [disabled]="!platformInfo.isAthlete">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sync activities
        </mat-panel-title>
        <mat-panel-description>
          <div>
            Download workouts from Strava and upload them to Intervals.icu
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-strava-copy-activities></app-strava-copy-activities>
    </mat-expansion-panel>
  </mat-accordion>
</div>
