name: Build PR

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  jar:
    uses: ./.github/workflows/workflow-jar.yml
    with:
      jar-name: tp2intervals
      jar-artifact-name: tp2intervals-jar

  docker-image:
    needs:
      - jar
    uses: ./.github/workflows/workflow-docker-image.yml
    with:
      jar-name: tp2intervals
      jar-artifact-name: tp2intervals-jar
      image-name: tp2intervals

  electron:
    needs:
      - jar
    strategy:
      matrix:
        environment:
          - os: ubuntu-latest

    uses: ./.github/workflows/workflow-electron.yml
    with:
      jar-name: tp2intervals
      jar-artifact-name: tp2intervals-jar
      os: ${{ matrix.environment.os }}
