name: Build Electron

on:
  workflow_call:
    inputs:
      jar-name:
        required: true
        type: string
      jar-artifact-name:
        required: true
        type: string
      os:
        required: true
        type: string
      dry-run:
        required: false
        type: boolean
        default: true

jobs:
  executable:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@master
        with:
          name: ${{ inputs.jar-artifact-name }}
          path: artifact

      - name: Copy artifact
        run: |
          mkdir -p electron/artifact
          mv artifact/${{ inputs.jar-name }}.jar electron/artifact/boot.jar

      - name: Install dependencies
        run: |
          npm ci --prefix ui
          npm ci --prefix electron

      - name: Build electron
        if: ${{ inputs.dry-run == true }}
        run: npm run build --prefix electron

      - name: Publish electron
        if: ${{ inputs.dry-run == false }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run publish --prefix electron

      - name: Show me what you got
        run: ls electron/dist

      - uses: actions/upload-artifact@v4
        with:
          name: tp2intervals-${{ runner.os }}
          path: electron/dist/tp2intervals*
          if-no-files-found: error
